.about-container {
  background-color: whitesmoke;
  
  padding: 30px;

}

.about-container > h1 {
  padding-left: 20px;
  padding-top: 30px;
 
}
.about-container > .line{
  background-color: rgb(201, 36, 36);
  margin-left: 20px;
  width: 80px;
  height: 7px;
}

.about {
  padding: 20px;
  line-height: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about > p {
  padding: 30px;
  font-size: 20px;
}