* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body{
  color: #fff;
  background-color: #060417;
}